<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="logo">
      <img src="images/logo_icon.png" alt="Jolie View Logo" class="logo-image">
      <span class="logo-text">Jolie View Self-Catering Apartments</span>
    </a>
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/accommodations" routerLinkActive="active">Accommodation</a></li>
      <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
      <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
    <!-- Mobile Menu Button -->
    <button class="menu-toggle" (click)="toggleMenu()">
      <div class="icon-wrapper">
        @if(!isMenuOpen()){
          <span class="menu-icon">
            <fa-icon [icon]="faBars"></fa-icon>
          </span>
        }
        @if(isMenuOpen()){
          <span class="menu-icon">
            <fa-icon [icon]="faXmark"></fa-icon>
          </span>
        }
      </div>
    </button>
  </div>

  <!-- Slide Drawer -->
  <div class="mobile-drawer" [ngClass]="{
    'open': isMenuOpen(),
    'closed': !isMenuOpen()
  }">
    <div class="mobile-links">
      <a routerLink="/" (click)="closeMenu()">Home</a>
      <a routerLink="/accommodations" (click)="closeMenu()">Accommodation</a>
      <a routerLink="/gallery" (click)="closeMenu()">Gallery</a>
      <a routerLink="/faq" (click)="closeMenu()">FAQ</a>
      <a routerLink="/contact" (click)="closeMenu()">Contact</a>
    </div>
  </div>
</nav>